.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px blue solid;
}

.countryContainer {
  width: 90%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 3px;
}
